* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /*p/ calculo ficar melhor*/
}

:root {
  font-size: 62.5%;

  /*Cores*/
  --tt-heading: #0c3440;
  --tt-labal: #00453a;
  --tt-input: #02799d;
  --ot-input: #dce2e9;
  --bd-input: rgba(71, 80, 87, 0.3);
  --tt-placeholder: rgba(73, 80, 87, 0.5);
  --bg-button: #02799d;
  --tt-button: #fff;
  --tt-erro: #f03e3e;
}

body {
  background-color: #040924;
  font-family: Arial, Helvetica, sans-serif;
}

body,
input,
button {
  font-size: 1.6rem;
  line-height: 1.8rem;
}

.card {
  padding: 4.8rem 6.4rem 6.4rem;
  background: #fff;
  max-width: 42.8rem;
  margin-inline: auto;

  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
  border-radius: 0.6rem;
}

.container {
  display: grid;
  height: 100vh;
  place-content: center;
}

.title {
  font-size: 3.2rem;
  line-height: 4rem;
}

form {
  width: 30rem;
}

form h1 {
  margin-bottom: 3.2rem;
}

form label {
  display: block;
  font-size: 1.4rem;

  color: var(--tt-labal);
  margin-bottom: 0.8rem;
}

form input {
  width: 100%;
  border: 1px solid var(--bd-input);
  background: var(--ot-input);
  padding: 1.6rem;
  border-radius: 0.4rem;
}

form input:focus {
  outline: 2px solid var(--ot-input);
}

form input::placeholder {
  outline: var(--ot-input);
}
.input-wrapper + .input-wrapper {
  margin-top: 1.6rem;
}

form button {
  margin-top: 3.2rem;
  padding: 1.6rem;
  width: 30rem;
  height: 5rem;
  background: var(--bg-button);
  color: var(--tt-button);

  border-radius: 0.4rem;

  font-weight: 700;
  border: none;

  display: flex;
  justify-content: center;
  gap: 0.8rem;

  cursor: pointer;
}

form button:hover {
  background: #043a4b;
}

/*modal*/
.modal-wrapper.open {
  opacity: 1;
  visibility: visible;
}

.modal-wrapper {
  position: absolute;
  inset: 0;

  background: rgba(0, 0, 0, 0.7);

  display: grid;
  place-content: center;

  opacity: 0;
  visibility: hidden;
}

.modal {
  position: relative;
}

.modal button {
  background: none;
  border: none;

  position: absolute;

  top: 1.6rem;
  right: 1.6rem;

  cursor: pointer;

  transition: transform 0.2s;
}

.modal button:hover {
  transform: scale(1.2);
}

/*alert error*/

.alert-error.open {
  visibility: visible;
  opacity: 1;

  transform: translateY(0);
}

.alert-error {
  background: var(--tt-erro);
  top: 0;
  width: 100vw;
  height: 3.6rem;
  font-weight: 700;
  font-size: 1.6rem;

  text-align: center;
  place-content: center;
  padding: 0.8rem;

  color: var(--tt-button);

  visibility: hidden;
  opacity: 0;

  transform: translateY(-30px);
  transition: transform 0.5s;
}
